@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    box-sizing: border-box;
}

:root {
    --main-color1: #463F3A;
    --main-color2: #8A817C;
    --main-color3: #BCB8B1;
    --main-color4: #F4F3EE;
    --main-color5: #E0AFA0;
}


body {
    font-family: Poppins;
    background-color: var(--main-color4) ;
    margin-right: 50px;
    margin-left: 50px;
}


.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.filter{
    float: right;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter select{
    text-align: center;
    
    border: 1px;
    border-color: black;
    border-radius: 90px;
    padding-right: 0.1vw;
    padding-left: 0.1vw;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
}

/*Draw the side Icon*/
    .icon {
        
        width: 45px; 
        height: 45px; 
        max-width: 150px;
        max-height: 150px;
        background-color: var(--main-color5); 
        border-radius: 5px; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .listed {
        
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 10px;
    }

    .dot {
        width: 2px; 
        height: 2px;
        max-width: 15px; 
        max-height: 15px;
        background-color: black;
        border-radius: 50%;
    }

    .line {
        width: 25px; 
        height: 2px; 
        max-width: 50px; 
        max-height: 5px;
        background-color: black;
        border-radius: 90px;
    }



.listProperties{

}

.property-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.property-grid{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 5%;

}

.property-card {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.property-card:hover {
    width: 430px;
    height: 430px;
}


.details{
    width: 100%;
    background-color: var(--main-color5);
    padding: 10px;
    margin: 0px;
}

.details p:first-child{
    font-weight: bold;
}

.innerCard{
    width: 100%;
    height: 100%;
    background-image: url("../img/img1.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.innerCard div:first-child{
    height: 65%;
}

.inInnerCard{
    height: 35%;
    background-color: rgba(255, 255, 255, 0.40);
    display: flex;
    justify-content: center;
    font-size: 1.85em;
}

.property-card h3{
    margin: 0px;
    color: #463F3A;
}




#Mfilterbtn{
    float: right;
    text-align: center;
    outline: none;
    background: none;
    background-color: var(--main-color5);
    text-align: center;
    border: none;
    border-radius: 90px;
    padding-right: 3vw;
    padding-left: 3vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
    float: right;
}


.seperator{
    margin: 40px;
}




@media (max-width: 767px){
    .filter{
        display: none;
        
    }
    .property-grid{
        display: grid;
        grid-template-columns: 400px;
        gap: 5%;
    
    }
    .property-card img{
        width: 250px;
        height: 250px;
        object-fit: cover;
        overflow: hidden;
    }

    .property-section h2{
        margin-top: 50px;
    }
}

@media (min-width: 767px){
    #Mfilterbtn{
        flex-shrink: 0;
        display: none;
        width: 0vw;
    }
}