@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    box-sizing: border-box;
}

:root {
    --main-color1: #463F3A;
    --main-color2: #8A817C;
    --main-color3: #BCB8B1;
    --main-color4: #F4F3EE;
    --main-color5: #E0AFA0;
}


body {
    font-family: Poppins;
    background-color: var(--main-color4) ;
    margin-right: 50px;
    margin-left: 50px;
}


.top{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.filter{
    float: right;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter select{
    text-align: center;
    
    border: 1px;
    border-color: black;
    border-radius: 90px;
    padding-right: 0.1vw;
    padding-left: 0.1vw;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
}

/*Draw the side Icon*/
    .icon {

        width: 5vw; 
        height: 5vw; 
        max-width: 150px;
        max-height: 150px;
        background-color: var(--main-color5); 
        border-radius: 15px; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .listed {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 10px;
    }

    .dot {
        width: 5px; 
        height: 5px;
        max-width: 15px; 
        max-height: 15px;
        background-color: black;
        border-radius: 50%;
    }

    .line {
        width: 60px; 
        height: 5px; 
        max-width: 50px; 
        max-height: 5px;
        background-color: black;
        border-radius: 90px;
    }



.listProperties{

}

.property-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.property-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5%;

}

.property-card {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.property-card img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
}