@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-1: #463F3A;
    --color-2: #8A817C;
    --color-3: #BCB8B1;
    --color-4: #F4F3EE;
    --color-5: #E0AFA0;
}

body{
    font-family: Poppins;
    margin: 0;
}





/* Navbar ----------------------------------------------------------------------*/
.h-nav{
    background-color: var(--color-4);
}
.h-navbar{
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.h-logo{
    width: 20%;
}

.h-nav-links{
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style-type: none;
}

.h-nav-links a{
    text-decoration: none;
    color: var(--color-1);
}

.h-nav-links a:hover{
    padding-bottom: 5px;
    border-bottom: 3px solid var(--color-5);
    color: var(--color-5);
}

.h-burger-menu{
    /* visibility: hidden;
    position: absolute; */
    display: none;
    cursor: pointer;
}







/* Footer ----------------------------------------------------------------------*/
footer{
    color: var(--color-4);
    background-color: var(--color-1);
}

.h-copyright{
    margin: 0 50px;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid var(--color-4);
}

.h-footer-container{
    padding: 5rem 0;
    display: flex;
    margin: 0 150px;
    gap: 5rem;
}

.h-footer-infos{
    width:35%;
    padding-top: 15px;
}

.h-footer-items{
    display: flex;
    gap: 10rem;
}

.h-footer-help{
    width: 100%;
}

.h-footer-links{
    width: 40%;
}

.h-footer-infos img{
    width: 50%;
}

.h-footer-aide a,
.h-footer-about a,
.h-footer-links a{
    text-decoration: none;
    color: var(--color-4);
}

.h-footer-container p{
    font-weight: 300;
}

.h-footer-about{
    margin-top: 2rem;
}

.h-footer-about h2{
    margin: 0;
}

.h-footer-container h2{
    font-weight: 600;
}









/*------------------------------------------------------------------------------*/
.h-details,
.h-formulaire{
    background-color: #E4E2DB;
}

.h-quartier{
    background-color: var(--color-1);
}






/* Details Section -----------------------------------------------------------------------------------------*/
.h-details-container{
    margin: 0 50px ;
    padding: 50px 0;
    color: var(--color-1);
}
.h-details-title{
    text-align: center;
}

.h-details-title h1{
    font-size: 2.3rem;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
}

.h-details-title p{
    margin: 0.3rem 0 1rem 0;
}

.h-carousel{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.h-carousel-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.h-carousel-slide img{
    width: 100%;
}

.h-carousel-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.h-images{
    display: flex;
    gap: 1rem;
}

.h-details-description{
    text-align: center;
    margin: 2rem 0;
}

.h-details-description h1{
    margin-bottom: 0.8rem;
    font-size: 2.3rem;
    font-weight: 700;
}

.h-details-description p{
    margin-bottom: 0.5rem;
}

.h-details-description span{
    font-weight: 600;
}

.h-elements{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.h-element{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E0AFA0;
    width: 100%;
    padding: 1rem 0;
    border-radius: 10px;
    font-weight: 500;
}







/* Formulaire Section -----------------------------------------------------------------------------------------------------*/

.h-formulaire-title,
form{
    display: flex;
    flex-direction: column;
}

.h-formulaire-container{
    padding: 50px 0;
    margin: 0 50px;
    background-color: #E4E2DB;
    color: var(--color-1);
    padding: 3rem 0;
}

.h-formulaire-title{
    align-items: center;
}

.h-formulaire-title h1{
    font-size: 2.3rem;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
    text-align: center;
}

.h-formulaire-title p{
    margin: 0;
    text-align: center;
}

form{
    align-items: center;
    margin-top: 3rem;
}

input,
select,
textarea{
    width: 50%;
    padding: 0.8rem;
    border: none;
    border-radius: 15px;
    background-color: var(--color-3);
    margin-bottom: 1rem;
    font-size: 1rem;
}

textarea{
    height: 10rem;
}

label{
    margin-bottom: 0.3rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
}

input::placeholder,
textarea::placeholder{
    font-size: 0.8rem;
    color: black;
}

button{
    padding: 15px 45px;
    margin-top: 1rem;
    border-radius: 30px;
    border: none;
    background-color: var(--color-5);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

button:hover{
    transform: scale(1.1) ;
    transition: all 400ms;
    background-color: #463F3A;
    color: #E4E2DB;
}








/* Quartier Section ----------------------------------------------------------------------------*/
.h-quartier-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    color: var(--color-4);
    margin: 0 50px;
    padding: 5rem 0;
}

.h-quartier-title{
    grid-column: span 2;
    text-align: center;
}

.h-quartier-title h1{
    font-size: 2.3rem;
    font-weight: 700;
    margin: 0;
}

.h-quartier-title p{
    font-size: 1.2rem;
    margin: 1rem 0;
}

.h-quartier-card{
    color: var(--color-4);
    text-align: center;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.h-quartier-card:hover{
    transform: scale(1.05);
    transition: all 400ms;
}

.bg-1{
    background-image: linear-gradient(to bottom right , rgba(0, 0, 0, 0.8) , rgba(99, 99, 99, 0.8)),
    url('../img/mosque.jpg');
    background-size: cover;
    background-position: center;
}

.bg-2{
    background-image: linear-gradient(to bottom right , rgba(0, 0, 0, 0.8) , rgba(99, 99, 99, 0.8)),
    url('../img/jardin.png');
    background-size: cover;
    background-position: center;
}

.bg-3{
    background-image:  linear-gradient(to bottom right , rgba(0, 0, 0, 0.8) , rgba(99, 99, 99, 0.8)),
    url('../img/gym.jpg');
    background-size: cover;
    background-position: center;
}

.bg-4{
    background-image: linear-gradient(to bottom right , rgba(0, 0, 0, 0.8) , rgba(99, 99, 99, 0.8)),
    url('../img/market.jpg');
    background-size: cover;
    background-position: center;
}

.bg-5{
    background-image: linear-gradient(to bottom right , rgba(0, 0, 0, 0.8) , rgba(84, 84, 84, 0.8)),
    url('../img/hammam.png');
    background-size: cover;
    background-position: center;
}

.bg-6{
    background-image: linear-gradient(to bottom right , rgba(0, 0, 0, 0.8) , rgba(84, 84, 84, 0.8)),
    url('../img/school.jpg');
    background-size: cover;
    background-position: center;
}

.h-quartier-card h3{
    color: #E0AFA0;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
}

.h-quartier-card p{
    margin: 0 4rem;
}

.h-quartier-card span{
    color: var(--color-3);
    font-weight: 500;
}
