/*  */
:root {
    --color-body: #F4F3EE;
    --color-scandry: #E0AFA0;
    --color-prancipal: #463F3A;

}
 
@media (min-width:1338px) {
    
.icon-open,
.icon-close{
    visibility: hidden;
    position: absolute;
  }
  
}

@media (max-width:1336px) {
    .icon-open,
    .icon-close{
        visibility: hidden;
        position: absolute;
      }
    
   

    .continer-header{
        font-size:0.8em;
    }
 

}
@media (max-width:1023px) {
    .about_foter{
        justify-self: start;
    }
    .immovier_footer{
        justify-self: start;
    
    }
    hr{
        display: none;
    }
    .continer-footer{
   margin: 20px;
   
    }
   
    
.card_form{
    width: 500px;
    grid-template-columns: repeat(2,200px);
    justify-content: center;
}  


 .continer-contact{
    grid-template-columns: repeat(1,200px);
    justify-content: center;
    width: 100%;
  
} 
.card-iformation {
    width: 480px;
    height: 600px;
}
 












.card_form{
    width: 480px;

   justify-content: center;
} 
 .continer-contact{
    justify-content: center;
    width: 100%;
  position: relative;
  transform: translate(-20%);
} 
.card-iformation {
    width: 480px;
    height: 600px;
}


.continer-serves {
    grid-template-columns: repeat(2, auto);
margin: 30vh 50px;
gap:60px 0;
margin-top: 140vh;

}

}







@media (max-width:768pX) {
    
    nav ul{
        display: none;
         justify-items: start;
        grid-template-columns: repeat(1, auto);
        position: absolute;
        top: 80px;
        line-height: 50px;
        left: 0;
        background: var(--color-body);
        padding:87px 100px ;
        transform: translate(-0%);
        z-index: 10;
    
       

    }  
     footer{
    
   
    }
       
.icon-open,
.icon-close{
    visibility: visible;
   
  }
  .icon-close{
    position: absolute;
    top: 15px;
    font-size: 10px;
  }
    .icon-open
   {
        position: absolute;
        right: 20px;
        font-size: 40px;
        align-self: center;
    } 
    
    .continer-header h2{
        width: 400%;
    font-size: 1.4em;
}


.mapswrapper iframe {
    width: 240px;
    height: 150px;
}
 .card_form{
    width: 440px;
   justify-content: center;
   align-self: center;
   padding: 10px;
} 
 .continer-contact{
    grid-template-columns: repeat(1,100px);
    justify-content: center;
    position: relative;
    right: 8%;
} 
.card-iformation {
    width: 440px;
    height: 600px;
 

}
.continer-serves {
    grid-template-columns: repeat(1, auto);
  
    height: 140vh;
}
}


@media (max-width:562px) {
    .continer-contact{
        
        right: 22%;
    } 
  
} 