/* start home  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: black;
    background: var(--color-body);
    width: 100%;
}

:root {
    --color-body: #F4F3EE;
    --color-scandry: #E0AFA0;
    --color-prancipal: #463F3A;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 0 15px;



}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: var(--color-scandry);
    border-bottom: 2px solid var(--color-scandry);
    padding: 10px 0;
}


#conitiner-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 50px;
    width: 90%;


}

.logo-nav img {
    width: 200px;
    height: 50px;
}

header {
    background-image: url("../img/img1 1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 59vh;
    color: white;
    font-size: 36px;
    width: 100%;
}

.continer-header {
    position: relative;
    top: 40%;
    margin: 10px 50px;
    width: 100%;
    max-width: 100px;
    line-height: 79px;
    flex-wrap: wrap;

}


.continer-header h2 {
    width: 500%;
    font-size: 1.5em;
}




/* End home */

/* /* start style contact  */
.contact-us h2{
    margin: 50px;
    text-align: center;
    font-size: 40px;
}

.continer-contact {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
    margin:  50px;
    width: 95%;
    color: white;
    height: 100vh;

}

.mapswrapper iframe {
    width: 390px;
    height: 200px;
}

.card-iformation {
    margin: 30px 0;
    background: black;
    width: 461px;
    height: 600px;
    padding: 30px;
    line-height: 40px;
    border-radius: 6px;
}

.card-iformation>p {
    color: #eeecebac;
}

.phone,
.email,
.vector {
    display: flex;
    align-items: center;

}

.icon-form {
    margin: 50px 0;
    line-height: 50px;
}

.phone img,
.email img,
.vector img {
    height: 20px;
    margin: 10px;
}

.card_form {
    display: grid;
    grid-template-columns: repeat(2, 240px);
    gap: 30px;
    color: black;
    align-items: center;
    background: white;
    width: 95%;
    padding: 30px;

}

.card_form input {
    outline: 0;
    border: 0;
    border-bottom: 2px solid #61606045;
    background: none;
    margin: 20px 0;
    width: 90%;
}

.card_form input::placeholder {}

.card_form p {
    color: #dddddd92;
}

.card_form textarea {
    width: 165%;
    height: 200px;
    outline: 0;
    border: 2px solid #61606045;
    margin: 20px 0;
}

.card_form button {
    width: 214px;
    height: 53px;
    background: black;
    color: white;

}

.card_form button:hover {
    color: var(--color-scandry);
    background: none;
    border: 2px solid var(--color-scandry);
}

/* end style contact */
.ContactUs {
    text-align: center;
    background: var(--color-scandry);
    width: 100%;
    padding: 80px;
    line-height: 30px;

}

.ContactUs h2 {
    color: white;
}

.ContactUs p {
    color: #27282999;
    margin: 0 50px;
}

.continer-serves {

    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    margin: 30vh 50px;
    width: 94%;
    margin-top: 20vh;
}

.continer-serves img {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    border-radius: 10px 10px;


}

.servs-card {
    box-shadow: 0 2px 10px #a7a6a6;
    width: 300px;
    height: 250px;
    border-radius: 22px 22px;
    transition: 1s;
    
}

.servs-card img:hover {
    opacity: 0.4;
}


.servs-card :first-child {
    color: #242565;
    text-align: center;
}


.servs {
    text-align: center;
    color: var(--color-scan2);
    margin: 50px 0;
}

.blog p {
    color: #ddd;
}


/* /* start footer  */
footer {
    background: var(--color-prancipal);
    color: white;
    margin-top: 100px 0;
}

.continer-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    height: auto;
    margin: 40px 160px;
    padding: 10px;

}

.about_foter {
    justify-self: center;
}

.immovier_footer {
    justify-self: end;

}

.continer-footer h1 {
    font-size: 19px;
}

.icon-footer i {
    padding: 10px;
    background: white;
    color: black;
    border-radius: 50%;
    margin: 14px 0;
}

.icon-footer i:hover {
    background: var(--color-scandry);
}

.continer-footer p {
    color: #e1dbdba5;
    width: 100%;

}

.logo-footer img {
    width: 200px;
    height: 50px;
}

hr {
    width: 80%;
    margin-left: 150px;
    margin-bottom: 20px;
    color: rgba(151, 147, 147, 0.659);
}

.copy {
    text-align: center;
    padding: 20px;
    color: rgba(151, 147, 147, 0.659);
}

/* end footer */