@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-1: #463F3A;
    --color-2: #8A817C;
    --color-3: #BCB8B1;
    --color-4: #F4F3EE;
    --color-5: #E0AFA0;
}

* {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.TestHeader {
    background-image: url('../img/Cover.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.TestHeader h1 {
    text-align: center;
    color: #F4F3EE;
    font-size: 62.37px;
    padding-top: 6%;
    font-weight: 360;

}
.TestHeader hr {
    margin: 0 auto;
    width: 10%;
    background-color: #E0AFA0;
    margin-top: 2%;
    border: none;
    height: 2px;
}

/*------------------SECTION------------------*/
.carousel {
    margin: 0 auto;
    margin-top: 5%;
    padding: 100px 0;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    > * {
        flex: 0 0 100%;
    }
    &:hover .group {
        animation-play-state: paused;
    }
}

.group {
    display: flex;
    gap: 100px;
    /* Add padding to the right to create a gap between the last and first card. */
    padding-right: 100px;
    will-change: transform; /* We should be nice to the browser - let it know what we're going to animate. */
    animation: scrolling 20s linear infinite;
}
@keyframes scrolling {
    0% {
    transform: translateX(0);
    }
    100% {
    transform: translateX(-100%);
    }
}

.card {
    width: 100%;
    color: white;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
    padding: 20px;
    justify-content: center;
    align-items: center;
    min-height: 262px;
    background: #E0AFA0;
}

.Mads {
    position: absolute;
    width: 180px;
    height: 180px;
    top: -30%;
    left: 29%;
}
.Wick {
    position: absolute;
    width: 180px;
    height: 180px;
    top: -30%;
    left: -8%;
}
.Bids {
    position: absolute;
    width: 180px;
    height: 180px;
    top: -30%;
    left: 62%;
}
.Wade {
    position: absolute;
    width: 180px;
    height: 180px;
    top: -30%;
    left: 130%;
}






/*------------------NAVBAR------------------*/

nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 0 23px;
    position: relative;
    left: 150%;
    top: 14px;
}

nav ul li a {
    text-decoration: none;
    color: black;

}

nav ul li a:hover {
    color: var(--color-scandry);
    border-bottom: 2px solid var(--color-scandry);
    padding: 10px 0;
}


#conitiner-nav {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 10px 50px;
    width: 100%;
    max-width: 200px;

}

.logo-nav img {
    width: 200px;
    height: 50px;
}


