/*  */
:root {
    --color-body: #F4F3EE;
    --color-scandry: #E0AFA0;
    --color-prancipal: #463F3A;

}
 
@media (min-width:1338px) {
  
.mm-icon-open,
.mm-icon-close{
    visibility: hidden;
    position: absolute;
  }
  
}

@media (max-width:1336px) {
    header{
        height: 70vh;
      }  
    nav ul li a{
        text-align: center;
       }
    .mm-icon-open,
    .mm-icon-close{
        visibility: hidden;
        position: absolute;
      }
    
   

    .mm-continer-header{
        font-size:0.8em;
    }
 

}
@media (max-width:1023px) {
    .mm-about_foter{
        justify-self: start;
    }
    .mm-immovier_footer{
        justify-self: start;
    
    }
    .mm-continer-footer{
   margin: 20px;
   
    }
     
.mm-card_form{
    grid-template-columns: repeat(2,200px);
    justify-content: center;
    align-items: center;
    width: 480px;
}  


 .mm-continer-contact{
    display: block;
    justify-items: center;

} 
.mm-card-iformation {
    width: 480px;
    height: 600px;
}
 



.mm-continer-serves {
    grid-template-columns: repeat(2, auto);
gap:100px 50px;
justify-self: center;

}

.mm-continer-header {
    top: 27%;
    font-size: 30px;
}

}







@media (max-width:768pX) {
    header{
        height: 70vh;
      } 
    nav ul{
        display: none;
         justify-items: start;
        grid-template-columns: repeat(1, auto);
        position: absolute;
        top: 76px;
        line-height: 50px;
        left: 0;
        background: var(--color-body);
        padding:87px 43% ;
        transform: translate(-0%);
        z-index: 10;
       transition: 1s;
       

    }  
   
       
.mm-icon-open,
.mm-icon-close{
    visibility: visible;
   
  }
  .mm-icon-close{
    position: absolute;
    top: 15px;
    font-size: 10px;
  }
    .mm-icon-open
   {
        position: absolute;
        right: 20px;
        font-size: 40px;
        align-self: center;
        
    } 
    
    .mm-continer-header h2{
        width: 90%;
    font-size: 1.4em;
}


.mm-mapswrapper iframe {
    width: 240px;
    height: 150px;
}
 .mm-card_form{
    width: 445px;

} 
 .mm-continer-contact{
    display: block;
justify-self: center;
} 
.mm-card-iformation {
    width: 445px;
justify-self: center;
  
}
 

.mm-card_form input {
    padding:10px 20px;
}

.mm-servs-card{
    display: block;
    justify-content: center;
    
}
}

/*  */

@media (max-width:679px) {
    .mm-continer-header {
        top: 20%;
        font-size: 30px;
    }

.mm-continer-serves {
    grid-template-columns: repeat(1, auto);
   
}

.mm-servs-card{
    display: block;
    justify-content: center;
    
}
}  